.lista {
    align-items: center;
    width: 900px;
    height: 400px;
  
  }
  
  .lista ul {
    list-style: none;
  }
  
  .lista ul li {
    align-items: center;
    display: flex;
    height: 50px;
    width: 900px;
    justify-content: space-around;
  }