body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #303030;
  background-image: url("./component/assets/6228ae57cc173.jpg");
}

.hr {
  height: 1px;
  background-color: rgb(92, 91, 91);
  border: none;
  margin-top: 20px;
}
